/******************************************************************************
 * Avatars
 *
 * Styling for avatars.
 ******************************************************************************/

@utility kavatar {
  @apply rounded-field overflow-hidden;
  --kavatar-bg: var(--color-base-300);
  --kavatar-fg: var(--color-base-content);
  > :is(div, img) {
    @apply w-10 h-10;
  }
  > div {
    @apply flex items-center justify-center;
    background-color: var(--kavatar-bg);
    color: var(--kavatar-fg);
  }
  > img {
    @apply object-cover;
  }
}

@utility kavatar-placeholder {
  > div {
    @apply uppercase font-semibold;
  }
}

@utility kavatar-primary {
  --kavatar-bg: var(--color-primary);
  --kavatar-fg: var(--color-primary-content);
}

@utility kavatar-neutral {
  --kavatar-bg: var(--color-neutral);
  --kavatar-fg: var(--color-neutral-content);
}

@utility kavatar-actionable {
  &:focus-visible {
    @apply outline-2;
  }
  &:is(:hover, :active):not(:disabled) > div {
    background-color: color-mix(in oklab, var(--kavatar-bg), #000 7%);
  }
}

@utility kavatar-sm {
  > :is(div, img) {
    @apply w-8 h-8;
  }
  > div {
    @apply text-sm;
  }
}

@utility kavatar-lg {
  > :is(div, img) {
    @apply w-12 h-12;
  }
  > div {
    @apply text-lg;
  }
}

@utility kavatar-xl {
  > :is(div, img) {
    @apply w-14 h-14;
  }
  > div {
    @apply text-xl;
  }
}

